apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
  labels:
    app: {{ .Chart.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-90"
data:
  application-kubernetes.yaml: |
    spring:
      datasource:
        url: jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/{{ .Values.postgresql.auth.database }}
        username: {{ .Values.postgresql.auth.username }}
        password: ${DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
          maximum-pool-size: 10
          minimum-idle: 2
    
      liquibase:
        enabled: true

      kafka:
        bootstrap-servers: {{ .Values.endpoints.kafkaHost }}.{{ .Values.endpoints.kafkaSpace }}.svc.cluster.local:{{ .Values.endpoints.kafkaPort }}
        properties:
          security.protocol: SASL_PLAINTEXT
          sasl.mechanism: PLAIN
          sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="user1" password="EUNc6Zv6rl";

        consumer:
          group-id: notification-service
          key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
          value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer

          properties:
            spring.json.use.type.headers: false
            spring.json.value.default.type: ru.binarysimple.notification.kafka.OrderEvent
            spring.json.trusted.packages: "*"        
    
      springdoc:
        api-docs:
          path: /v3/api-docs
        swagger-ui:
          path: /swagger-ui.html
        info:
          title: Notification Service API
          version: {{ .Values.image.tag }}
          description: {{ .Chart.Name }} API.
          contact:
            name: Support Team
            email: support@example.com
    endpoints:
      users-service: http://{{ .Values.endpoints.usersServiceRName }}-{{ .Values.endpoints.usersServiceHost }}.{{ .Values.endpoints.usersServiceSpace }}.svc.cluster.local:{{ .Values.endpoints.usersServicePort }}
      api-gateway: http://{{ .Values.endpoints.apiGatewayRName }}-{{ .Values.endpoints.apiGatewayHost }}.{{ .Values.endpoints.apiGatewaySpace }}.svc.cluster.local:{{ .Values.endpoints.apiGatewayPort }}
