spring:
  application:
    name: notification

  datasource:
    url: jdbc:postgresql://localhost:5440/${DB_NAME:test_db}
    username: ${DB_USERNAME:test_user}
    password: ${DB_PASSWORD:test_password}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: false

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    liquibase-schema: public
    default-schema: notif_db
    enabled: true

  kafka:
    bootstrap-servers: localhost:9092
#    properties:
#      security.protocol: SASL_PLAINTEXT
#      sasl.mechanism: PLAIN
#      sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="user1" password="EUNc6Zv6rl";

    consumer:
      group-id: notification-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer

      properties:
        spring.json.use.type.headers: false
        spring.json.value.default.type: ru.binarysimple.notification.kafka.OrderEvent
        spring.json.trusted.packages: "*"

server:
  port: 8080

endpoints:
  api-gateway: http://localhost:8090

logging:
  level:
    ru.binarysimple: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.springframework.web: DEBUG
    org.springdoc: WARN
    io.swagger: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true

info:
  app:
    name: "Notification Service"

app:
  kafka:
    topics:
      order-events: order.events